@page "/"

<PageTitle>Home</PageTitle>

<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle=true TData="object">
    <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            @* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" /> *@
            <MudImage ObjectFit=ObjectFit.None Src="works/work1.jpg" Alt="Örebro Slott" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            @* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" /> *@
            <MudImage ObjectFit=ObjectFit.Contain Src="works/work2.jpg" Alt="Örebro Slott" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade">
        <div class="d-flex" style="height:100%">
            @* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" /> *@
            <MudImage ObjectFit=ObjectFit.Fill Src="works/work3.jpg" Alt="Örebro Slott" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade">
        <div class="d-flex" style="height:100%">
            @* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" /> *@
            <MudImage ObjectFit=ObjectFit.ScaleDown Src="works/work4.jpg" Alt="Örebro Slott" Elevation="25" Class="rounded-lg" />
        </div>
    </MudCarouselItem>
</MudCarousel>
